<html>
<head>
	<title>errant</title>
	<script src="/static/jquery.js"></script>
	<script src="/static/jquery.json-viewer.js"></script>
	<script src="/static/Scheduler.js"></script>
	<script src="/static/main.js"></script>
	<link rel="stylesheet" href="/static/main.css"/>
	<link rel="stylesheet" href="/static/jquery.json-viewer.css"/>
</head>
<body>
	<ol id="sentences"></ol>
	<button id="annotate">Infer Annotations</button>
	<ol id="annotations" class='annotations'>No annotations to show.</ol>
	<pre id="annotations-json" class='annotations'>No json to show.</pre>
</body>
</html>
